<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matérias</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>

<%-include("partials/navbar", {cardName})%>
<body>

  <div class="container">

    <div style="margin-bottom: 20px;" class="row">

      <div style="text-align: center; margin-top: 20px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 ><%=cardName%></h1>
      </div>
    
    </div>

    <div class="row">
      <button style="width: 100%; margin-bottom: 20px;" onclick="downloadMaterias()" class="btn btn-success btn-lg"><i class="fa fa-download " aria-hidden="true"></i> DOWNLOAD</button>
    </div>
    <div class="row">
      <div style="display: none" class="count">
        <h2 class="counter">Aguarde alguns segundos para baixar as matérias do Trello....</h2>
      </div>
    </div>
    <div class="row">
      <%-include("partials/datatable")%>

    </div>
  </div>

  <div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
      src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>
  
      <script>
        const cardId = JSON.parse('<%-JSON.stringify(cardId)%>');
        const cardName = JSON.parse('<%-JSON.stringify(cardName)%>');

        const downloadMaterias = ()=>{
          document.querySelector('.count').style.display  = 'block';

          setTimeout( ()=>{
            document.querySelector('.count').style.display = 'none'
          }, 13000)


          axios({
          url: `/download-materias/${cardId}`,
          method:'get',
          headers:{
              'Content-Type': 'multipart/form-data',
          },
          responseType:'arraybuffer' // If we don't mention we can't get data in desired format
      })
      .then(async response => {
          console.log(response)          
          download(response.data,`${cardName}.zip`,"application/zip") //this is third party it will prompt download window in browser.
          return response.data;
      });
        }

  
      </script>
    <script>
      $(document).ready(function () {
  
        $('#table_id').DataTable({
          fixedHeader: {
          header: false,
          footer: true
      },
          scrollY:        '60vh',
          scrollCollapse: true,
          paging:         false,
  
          data: JSON.parse('<%-JSON.stringify(materias)%>'),
          columns: [
            { title: "Index", data: "index"},
            { title: "Matéria", data: "name" },
            { title: "Usuário", data: "idMember" },
            // { title: "Data", data: "date" },
            // { title: "Horário", data: "time" },
            {title: "Data Anexo", data: "fullDate"}
          ],
          rowCallback: (row, data) => {
            row.style.cursor = 'pointer';
  
            row.onclick= ()=>{
              row.style.background = 'green'
              row.style.color = 'white'
  
            }
            
          },
          createdRow: (row, data, index)=>{
          }
        });
      });
    </script>
  </div>

</body>

</html>