<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matérias</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>

<%-include("partials/navbar", {cardName})%>

  <body>

    <div class="container">



      <div style="margin: 20px 0;" class="card text-center">
        <div class="card-header">
          Controle de Matérias do Trello
        </div>
        <div class="card-body">
          <h5 class="card-title text-info"><%=cardName%></h5>
          <p class="card-text">Atualize a página antes de compactar e baixar as matérias</p>
          <button onClick="window.location.reload();" class="btn btn-outline-info my-2 my-sm-0"><i class="fa fa-sync-alt"></i> Atualizar Página</button>

          <a onclick="downloadMaterias()" href="#" class="btn btn-info">
            <i class="fa fa-download " aria-hidden="true"></i>
            Compactar e Baixar</a>
        </div>
        <div class="card-footer text-muted">
          Quantidade de matérias: xx
        </div>
      </div>





      <div class="row h-100 justify-content-center align-items-center">
        <div style="display: none" class="count">
          <h2 class="counter">Aguarde alguns segundos para baixar as matérias do Trello....</h2>
        </div>
      </div>


      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
          <table class="table table-striped table-bordered" style="width:100%" id="materias_table" class="display">
            <thead>
            </thead>
            <tbody>
          
            </tbody>
            <tfoot>
          
            </tfoot>
          </table>
        </div>
      </div>

    </div>

    <div>

      <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
      <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js"></script>

      <script>
        const cardId = JSON.parse('<%-JSON.stringify(cardId)%>');
        const cardName = JSON.parse('<%-JSON.stringify(cardName)%>');

        const downloadMaterias = () => {
          document.querySelector('.count').style.display = 'block';

          setTimeout(() => {
            document.querySelector('.count').style.display = 'none'
          }, 13000)

            async function get(url){
              const response = await fetch(url);

              console.log(response.status)
              return response.arrayBuffer();
            }

            get("/download-materias/" + cardId)
              .then(res=> {
                download(res,`${cardName}.zip`, "application/zip" )} ).catch(e=> console.log(e));
        }



      </script>


      <script>
        $(document).ready(function () {

          $('#materias_table').DataTable({
            fixedHeader: {
            header: true,
            footer: true
        },
            language: {
              url: "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Portuguese-Brasil.json"
            },

            paging: true,
            data: JSON.parse('<%-JSON.stringify(materias)%>'),
            columns: [
              { title: "Posição", data: "index" },
              { title: "Matéria", data: "name" },


              { title: "Data Anexo", data: "fullDate" },
              { title: "Atendente", data: "idMember" }
            ],
            rowCallback: (row, data) => {
              row.style.cursor = 'pointer';
              row.addEventListener('click', (e) => {
                console.log(e);
                row.style.background = '#17a2b8'
                row.style.color = 'white';
              })
            },
            createdRow: (row, data, index) => {
            }
          });
        });
      </script>
    </div>

  </body>

</html>